@import './_colors.scss';

.light-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    padding: 3px 0;
    background-color: $color-sign-gold;
}

// bigger size
.light-box.size-med {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 25px solid #222;
    margin: 50px 0;

    width: 120px;
    padding: 12px 0;
    background-color: $color-sign-gold;
    &.h {
        flex-direction: row;
        width: auto;
        padding: 12px;
    }
}

//biggest
.light-box.size-lg {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 35px solid #222;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    padding: 12px 0;
    background-color: $color-sign-gold;
    &.h {
        flex-direction: row;
        width: auto;
        padding: 12px;
    }
}

.light-box.black {
    outline: 35px solid $color-sign-gold;
    background-color: #222;
}


.t5 {
    .bottom-yellow-green {
        display: flex;
        flex-direction: row;

        .left-arrow,
        .right-full {
            display: flex;
            flex-direction: column;
        }
    }
}