@import './_colors.scss';

.light-lamp {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 2px;
    background-color: #000;
    transition: background-color 200ms;
    box-shadow: 1px 4px 2px rgba(0,0,0,.5) inset, -1px 4px 2px rgba(0,0,0,.5) inset;

    &:before {
        content: '';
        display: inline-block;
        width: 52px;
        height: 55px;
        left: -1px;
        top: -1px;
        position: relative;
        border-top: 4px solid $color-sign-gold;
        box-shadow: 0px -1px 2px -1px rgba(0,0,0,.8);
        border-radius: 50%;
    }

    &.on:after {
        content: '';
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        // background-color: #fff;
        height: 0;
        width: 0; 
        top: 25px;
        left: 25px;
        box-shadow: 0px 0px 20px 6px rgba(255,255,200,.8)
    }

    &.red {
        background-color: $color-red;
    }
    &.yellow {
        background-color: $color-yellow;
    }
    &.green {
        background-color: $color-green;
    }
    &.off {
        background-color: #000;
    }
}

.size-med .light-lamp {
    display: inline-block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: #000;
    transition: background-color 200ms;
    box-shadow: 2px 10px 6px rgba(0,0,0,.5) inset, -2px 10px 6px rgba(0,0,0,.5) inset;
    position: relative;

    &:before {
        content: '';
        display: inline-block;
        width: 104px;
        height: 115px;
        left: -2px;
        top: -3px;
        position: relative;
        border-top: 8px solid $color-sign-gold;
        box-shadow: 0px -2px 3px -1px rgba(0,0,0,.5);
        border-radius: 50%;
        z-index: 1;
    }

    &:not(.off):after {
        content: '';
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        // background-color: #fff;
        height: 0;
        width: 0; 
        top: 50px;
        left: 50px;
        box-shadow: 0px 0px 50px 15px rgba(255,255,200,.8)
    }

    &.red {
        background-color: $color-red;
    }
    &.yellow {
        background-color: $color-yellow;
    }
    &.green {
        background-color: $color-green;
    }
    &.off {
        background-color: #000;
    }
}


//biggest size
.size-lg .light-lamp {
    display: inline-block;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 10px;
    box-shadow: 2px 20px 12px rgba(0,0,0,.5) inset, -2px 10px 6px rgba(0,0,0,.5) inset;


    &:before {
        content: '';
        width: 208px;
        height: 230px;
        left: -4px;
        top: -6px;
        position: relative;
        border-top: 16px solid $color-sign-gold;
        box-shadow: 0px -3px 4px -2px rgba(0,0,0,.5);
        border-radius: 50%;
        z-index: 1;
    }

    &:not(.off):after {
        top: 100px;
        left: 100px;
        box-shadow: 0px 0px 100px 30px rgba(255,255,200,.7)
    }
}

.arrow {
    color: #000;
    transition: color 300ms;
}

.light-lamp {
    .arrow {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;

        background-color: #000;
        border-radius: 50%;

        color: #000;
        transition: color 300ms;

        width: 100px;
        height: 100px;

        left: 0;
        top: 0;

        .material-icons {
            font-size: 70px;
            margin-right: 5px;
            font-weight: 600;
        }
    }

    &.on.red .arrow {
        color: $color-red;
    }
    &.on.yellow .arrow {
        color: $color-yellow;
    }
    &.on.green .arrow {
        color: $color-green;
    }
       
        // .yellow {
        //     color: $color-yellow;
        // }
        // .green {
        //     color: $color-green;
        // }
    // }
}

// 0px 0px 40px 10px rgba(255, 255, 200, 0.8)
.black .light-lamp {
    &:before {
        border-color: #222;
    }
}